body{
	margin: 0;
}
#header-content{
   background-image: url(../img/b.jpg); 
    margin-bottom: 3%;
    height: 50vh;
}
.logo{
    display: inline-block;
    width: 40%;
    color:aquamarine;
}
.logo img{
    width:10%;
}
#nav{
    display: inline-block;
    width: 60%;
}
#nav ul{
    list-style-type: none;
    width: 60%;
    margin-left: 25%;
}
#nav ul li{
    display: inline-block;
    padding: 1% 2%;
    border:none;
}
#nav ul li a:hover{
    background-color: beige;
    color: red;
    padding: 4% 8%;
}
#nav ul li a{
    text-decoration: none;
    color: white;
}
.welcome {
    display: inline-block;
    width:60%;
    background-color:beige;
    text-align: justify;
    padding: 1%;
    margin-bottom: 1%;
}
.vision{
    display: inline-block;
    width:48%;
    padding: 1%;
    text-align: justify;
    background-color:cornsilk;
    vertical-align: top;
}
.mission{
    display: inline-block;
    width:48%;
    padding: 1%;
    background-color:bisque;
    text-align: justify;
    padding: 
}
h2{
    text-align: center;
}
.footer{
    background-color: moccasin;
    margin-top: 10%;
    height: 7vh;
}
.links{
    display:inline-block;
    width: 35%;
}
.links a{
    text-decoration: none;
}
.search{
    display:inline-block;
    width: 30%;
}.search a{
    display:block;
    
}
.socials{
    display:inline-block;
    width: 35%;
}
.socials a{
    text-decoration: none;
}
.body{
    text-align: center;
}